@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Museo';
  src: local('Museo'), local('MuseoSans');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
